.select-block {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 100%;
}

.select-list {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
}

.select-list__item {
  font-size: 18px;
  padding: 5px;
  animation: show 1 ease 0.5s;
}

.select-block__clear-button {
  width: 100%;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #000;
  font-size: 14px;
}

@keyframes show {
  0% {
    opacity: 0;
    transform: translateX(15px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}