.select-block {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  flex-basis: 30%;
  flex-shrink: 0;
  margin-right: 10px;
}

.select-list {
  max-height: 285px;
  overflow-x: hidden;
  overflow-y: auto;
  margin-bottom: 15px;
}

.select-list__item {
  font-size: 18px;
  padding: 5px;
  animation: show 1 ease 0.5s;
}

.select-block__clear-button {
  width: 100%;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #000;
  font-size: 14px;
}

@keyframes show {
  0% {
    opacity: 0;
    transform: translateX(15px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}