.main {
    max-width: 400px;
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 5px 3px #ccc;
    position: relative;
}

.main__input {
    border: none;
    border-radius: 3px;
    box-shadow:  0 0 2px 0 #000;
    width: 100%;
    height: 60px;
    padding: 0 10px;
    font-size: 15px;
}

.main__input:focus {
    box-shadow:  0 0 3px 0 #696969;
}
