* {
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

.App {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

